# ¬°Hola  !üôãüèª‚Äç‚ôÇÔ∏è

Te escribe Lisandro Saez, soy revisor de c√≥digo en Tripleten y tengo el agrado de revisar el proyecto que entregaste.

Para simular la din√°mica de un ambiente de trabajo, si veo alg√∫n error, en primer instancia solo los se√±alar√©, d√°ndote la oportunidad de encontrarlos y corregirlos por tu cuenta. En un trabajo real, el l√≠der de tu equipo har√° una din√°mica similar. En caso de que no puedas resolver la tarea, te dar√© una informaci√≥n m√°s precisa en la pr√≥xima revisi√≥n.

Encontrar√°s mis comentarios m√°s abajo - **por favor, no los muevas, no los modifiques ni los borres**.

¬øC√≥mo lo voy a hacer? Voy a leer detenidamente cada una de las implementaciones que has llevado a cabo para cumplir con lo solicitado. Ver√°s los comentarios de esta forma:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si todo est√° perfecto.
</div>


<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si tu c√≥digo est√° bien pero se puede mejorar o hay alg√∫n detalle que le hace falta. Se aceptan uno o dos comentarios de este tipo en el borrador, pero si hay m√°s, deber√≠as hacer las correcciones. Es como una tarea de prueba al solicitar un trabajo: muchos peque√±os errores pueden hacer que un candidato sea rechazado.
</div>

<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si de pronto hace falta algo o existe alg√∫n problema con tu c√≥digo o conclusiones.
</div>

Puedes responderme de esta forma (no te preocupes, no es obligatorio):

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante</b> <a class="tocSkip"></a>

Hola, muchas gracias por tus comentarios y la revisi√≥n.
</div>

¬°Empecemos!

# D√©jame escuchar m√∫sica

Los datos est√°n almacenados en el archivo `/datasets/music_project_en.csv`.

¬°Ahora s√≠, manos al c√≥digo!

## Etapa 1. Descripci√≥n de los datos <a id='data_review'></a>

Abre los datos y exam√≠nalos.

Etapa 1.1. Necesitar√°s `pandas`, as√≠ que imp√≥rtalo.

In [1]:
# Importa pandas
import pandas as pd

<details>
<summary>Haz clic para ver la pista</summary>

Para usar `pandas`, necesitas la palabra clave `import` seguida del nombre de la biblioteca y un alias.

Etapa 1.2. Lee el archivo `music_project_en.csv` de la carpeta `/datasets/` y gu√°rdalo en la variable `df`:

In [2]:
# Lee el archivo y almac√©nalo en df
df= pd.read_csv("/datasets/music_project_en.csv")



<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Bien hecho! Siempre es importante que pasemos el set de datos que estamos usando a `DataFrame`!</div>

<details>
<summary>Haz clic para ver la pista</summary>

Usa la palabra clave `read_csv` para leer el archivo CSV. Aseg√∫rate de incluir la ruta `/datasets/music_project_en.csv` y guarda el resultado en la variable `df`.

Etapa 1.3. Muestra las 10 primeras filas de la tabla:

In [3]:
# Obt√©n las 10 primeras filas de la tabla df
print(df.head(10))

     userID                        Track            artist   genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile    rock
1  55204538  Delayed Because of Accident  Andreas R√∂nnberg    rock
2    20EC38            Funicul√¨ funicul√†       Mario Lanza     pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice    folk
4  E2DC1FAE                  Soul People        Space Echo   dance
5  842029A1                       Chains          Obladaet  rusrap
6  4CB90AA5                         True      Roman Messer   dance
7  F03E1C1F             Feeling This Way   Polina Griffith   dance
8  8FA1D3BE                     L‚Äôestate       Julia Dalia  ruspop
9  E772D5C0                    Pessimist               NaN   dance

        City        time        Day
0  Shelbyville  20:28:33  Wednesday
1  Springfield  14:07:09     Friday
2  Shelbyville  20:58:07  Wednesday
3  Shelbyville  08:37:09     Monday
4  Springfield  08:34:34     Monday
5  Shelbyville  13:09:41     Friday
6  Springfield  13:00:07  Wednesday
7  Springfield  20:47:49  Wednesday
8  Springfield  09:17:40     Friday
9  Shelbyville  21:20:49  Wednesday

<details>
<summary>Haz clic para ver la pista</summary>

Usa el m√©todo `head` para ver las primeras filas del DataFrame.

Etapa 1.4. Obt√©n la informaci√≥n general sobre la tabla con el m√©todo info().

In [4]:
# Obt√©n la informaci√≥n general sobre nuestros datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

<details>
<summary>Haz clic para ver la pista</summary>

Usa el m√©todo `info` para obtener detalles sobre columnas, tipos de datos y valores nulos.

Estas son nuestras observaciones sobre la tabla. Contiene siete columnas que almacenan los mismos tipos de datos: `object`.

Seg√∫n la documentaci√≥n:
- `' userID'`: identificador del usuario;
- `'Track'`: t√≠tulo de la canci√≥n;
- `'artist'`: nombre del artista;
- `'genre'`: g√©nero de la canci√≥n;
- `'City'`: ciudad del usuario;
- `'time'`: la hora exacta en la que se reprodujo la canci√≥n;
- `'Day'`: d√≠a de la semana.

Podemos ver dos problemas con el estilo en los encabezados de la tabla:
1. Algunos encabezados est√°n en may√∫sculas, otros en min√∫sculas.
2. `Identifica t√∫ mismo el segundo problema y escr√≠belo aqu√≠.`

##Respuesta:
El segundo problema es : los espacios o las tabulaciones que ocurran sin querer y son dificiles de ver en el momento. se solucionan quitandolos con .strip()

### Escribe algunas observaciones por tu parte. Contesta a las siguientes preguntas: <a id='data_review_conclusions'></a>

`1.   ¬øQu√© tipo de datos hay en las filas? ¬øC√≥mo podemos saber qu√© almacenan las columnas?`

`2.   ¬øHay suficientes datos para proporcionar respuestas a nuestra hip√≥tesis o necesitamos m√°s informaci√≥n?`

`3.   ¬øNotaste alg√∫n problema en los datos, como valores ausentes, duplicados o tipos de datos incorrectos?`

Escribe aqu√≠ tus respuestas:

1. Todos son tipo 'object'. para saberlo podmos revisar el atributo .info() o utilizar el atributo dtype()

2. artist, que es el que menos datos posee, tiene el 88% de los datos no nulos(sin contar con los ausentes) . Lo cual indica que por el momento si se pueden sacar hipotesis o conclusiones.

3. - Despues de usar .isna() junto con .sum(), se puede evidenciar que tenemos los siguientes valores nulos: Track=1343 artist=7567 genre=1198.
   - Por parte de datos duplicados, tiene 3826 filas duplicadas.



<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Gran trabajo! Es importante que antes de encarar cualquier problema que queramos resolver con Python, nos paremos a pensar bien en qu√© consisten los datos con los que vamos a trabajar!
</div>

## Etapa 2. Preprocesamiento de los datos <a id='data_preprocessing'></a>

Tu objetivo aqu√≠ es preparar los datos para analizarlos.
El primer paso es resolver los problemas con los encabezados. Despu√©s podemos avanzar a los valores ausentes y duplicados. ¬°Empecemos!

Vamos a corregir el formato en los encabezados de la tabla.

### Estilo del encabezado <a id='header_style'></a>
Etapa 2.1. Muestra los encabezados de la tabla (los nombres de las columnas):

In [5]:
# Muestra los nombres de las columnas
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

<details>
<summary>Haz clic para ver la pista</summary>

Usa el atributo `.columns` para ver todos los nombres de las columnas en el DataFrame.

Vamos cambiar los encabezados de la tabla siguiendo las reglas estil√≠sticas convencionales:
*   Todos los caracteres deben ser min√∫sculas.
*   Elimina los espacios.
*   Si el nombre tiene varias palabras, utiliza snake_case, es decir, a√±ade un guion bajo ( _ ) entre las palabras en lugar de un espacio.


Etapa 2.2. Utiliza el bucle for para iterar sobre los nombres de las columnas y poner todos los caracteres en min√∫sculas. Cuando hayas terminado, vuelve a mostrar los encabezados de la tabla:

In [6]:
# Bucle que itera sobre los encabezados y los pone todos en min√∫sculas
Newcol_names = []
for word in df.columns:
    new_name = word.lower()
    Newcol_names.append(new_name)
df.columns= Newcol_names
print(df.columns)

Index(['  userid', 'track', 'artist', 'genre', '  city  ', 'time', 'day'], dtype='object')

<details>
<summary>Haz clic para ver la pista</summary>

Usa un `for` para recorrer `df.columns` y aplica `.lower()` a cada nombre. Luego, asigna la lista resultante de nuevo a `df.columns`.

Etapa 2.3. Ahora, utilizando el mismo m√©todo, elimina los espacios al principio y al final de los nombres de las columnas y muestra los nombres de las columnas de nuevo:

In [7]:
# Bucle que itera sobre los encabezados y elimina los espacios
Newcol_names = []
for word in df.columns:
    new_name = word.strip().lower()
    Newcol_names.append(new_name)
df.columns= Newcol_names
print(df.columns)

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

<details>
<summary>Haz clic para ver la pista</summary>

Usa `.strip()` dentro del bucle para limpiar los nombres de columnas. Aseg√∫rate de reasignar los nuevos nombres a `df.columns`.

Etapa 2.4. Necesitamos aplicar la regla de snake_case en la columna `userid`. Debe ser `user_id`. Cambia el nombre de esta columna y muestra los nombres de todas las columnas cuando hayas terminado.

In [8]:
# Cambia el nombre de la columna "userid"

new_col= {
    'userid' : 'user_id'}

df.rename(columns=new_col,inplace=True)
print(df.columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

<details>
<summary>Haz clic para ver la pista</summary>

Usa el m√©todo `.rename()` con el par√°metro `columns` para cambiar `userid` a `user_id`. No olvides establecer `inplace=True` o reasignar a `df`.

Etapa 2.5. Comprueba el resultado. Muestra los encabezados una vez m√°s:

In [9]:
# Comprueba el resultado: lista de encabezados
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>
    
Te felicito, los encabezados se ven geniales!
</div>‚Ä®

<details>
<summary>Haz clic para ver la pista</summary>

Usa `.columns` para volver a ver los nombres actualizados de las columnas.

### Valores ausentes <a id='missing_values'></a>
 Etapa 2.5. Primero, encuentra el n√∫mero de valores ausentes en la tabla. Debes utilizar dos m√©todos para obtener el n√∫mero de valores ausentes.

In [10]:
# Calcula el n√∫mero de valores ausentes
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

<details>
<summary>Haz clic para ver la pista</summary>

Usa `.isna()` para detectar los valores ausentes y comb√≠nalo con el m√©todo `.sum()` para contar cu√°ntos hay por columna.

Etapa 2.6. Sustituye los valores ausentes en las columnas `'track'`, `'artist'` y `'genre'` con el string `'unknown'`.

1. Crea una lista llamada columns_to_replace que contenga los nombres de las columnas 'track', 'artist' y 'genre'.

2. Usa un bucle for para iterar sobre cada columna en columns_to_replace.

3. Dentro del bucle, sustituye los valores ausentes en cada columna con el string `'unknown'`.

In [11]:
# Bucle en los encabezados reemplazando los valores ausentes con 'unknown'
columns_to_replace = ['track', 'artist', 'genre']
for col in columns_to_replace:
    df[columns_to_replace] = df[columns_to_replace].fillna(value='unknown')




<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Te felicito por haber eliminado los NaNs! Es una parte fundamental del an√°lisis de datos!
</div>

<details>
<summary>Haz clic para ver la pista</summary>

Crea una lista con los nombres de las columnas y usa un `for` para recorrerla. Dentro del bucle, aplica `.fillna('unknown')` a cada una.

Etapa 2.7. Ahora comprueba el resultado para asegurarte de que no falten valores ausentes por reemplazar en el conjunto de datos. Para ello, cuenta los valores ausentes una vez m√°s.

In [12]:
# Cuenta los valores ausentes
df.isna().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<details>
<summary>Haz clic para ver la pista</summary>

Usa `isna()` con `sum()` otra vez para confirmar que ya no quedan valores nulos en las columnas modificadas.

### Duplicados <a id='duplicates'></a>
Etapa 2.8. Encuentra el n√∫mero de duplicados expl√≠citos en la tabla. Una vez m√°s, debes aplicar dos m√©todos para obtener la cantidad de duplicados expl√≠citos.

In [13]:
# Cuenta los duplicados expl√≠citos
df.duplicated().sum()

3826

<details>
<summary>Haz clic para ver la pista</summary>

Usa un m√©todo que detecte filas repetidas (`duplicated`) y luego otro para contarlas.

Etapa 2.9. Ahora, elimina todos los duplicados. Para ello, llama al m√©todo que hace exactamente esto.

In [14]:
# Elimina los duplicados expl√≠citos
df.drop_duplicates(inplace=True)

<details>
<summary>Haz clic para ver la pista</summary>

Busca un m√©todo que elimine las filas duplicadas directamente del DataFrame. No olvides actualizar la variable.

Etapa 2.10. Comprobemos ahora si conseguimos eliminar todos los duplicados. Cuenta los duplicados expl√≠citos una vez m√°s para asegurarte de haberlos eliminado todos:

In [15]:
# Comprueba de nuevo si hay duplicados
df.duplicated().sum()

0


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Est√° excelente que te tomes el trabajo extra de revisar que hayan quedado eliminados todos los duplicados!
</div>

<details>
<summary>Haz clic para ver la pista</summary>

Repite el mismo enfoque que usaste para contar duplicados antes. Deber√≠as ver que el total ahora es cero.

Ahora queremos deshacernos de los duplicados impl√≠citos en la columna `genre`. Por ejemplo, el nombre de un g√©nero se puede escribir de varias formas. Dichos errores tambi√©n pueden afectar al resultado.

Etapa 2.11. Primero debemos mostrar una lista de nombres de g√©neros √∫nicos, por orden alfab√©tico. Para ello:
1. Extrae la columna `genre` del DataFrame.
2. Llama al m√©todo que devolver√° todos los valores √∫nicos en la columna extra√≠da.

In [16]:
# Inspecciona los nombres de g√©neros √∫nicos
df['genre'].unique()
df_ordenado = df['genre'].sort_values()
print(df_ordenado)

32883         acid
3650      acoustic
20644     acoustic
39129     acoustic
14811     acoustic
           ...
6189         world
18268        world
28665    worldbeat
40493    worldbeat
8514           √Ø√Æ√Ø
Name: genre, Length: 61253, dtype: object

<details>
<summary>Haz clic para ver la pista</summary>

Usa `unique()` para obtener los g√©neros √∫nicos. Si quieres verlos en orden alfab√©tico, combina con `sorted()`.

Etapa 2.12. Vamos a examinar la lista para identificar **duplicados impl√≠citos** del g√©nero `hiphop`, es decir, nombres mal escritos o variantes que hacen referencia al mismo g√©nero musical.

Los duplicados que encontrar√°s son:

* `hip`  
* `hop`  
* `hip-hop`  

Para solucionarlo, vamos a crear una funci√≥n llamada `replace_wrong_values()`.


1. Define una funci√≥n llamada `replace_wrong_values()` que reciba los siguientes par√°metros:

* `df`: el DataFrame a modificar
* `column`: el nombre de la columna a trabajar
* `wrong_values`: una lista con los valores incorrectos
* `correct_value`: el valor correcto para reemplazar

2. Dentro de la funci√≥n, usa un bucle `for` para iterar sobre cada valor incorrecto y aplicar `.replace()`.

In [17]:
# Funci√≥n para reemplazar los duplicados impl√≠citos
def replace_wrong_values(df,column,wrong_values,correct_value): #wrong_values porque pueden ser varios y correct_value porque solo hay un nombre "bien escrito"
    for wrong_value in wrong_values: # para cada valor incorrecto en los valores que le pasamos incorrectso
        df[column] = df[column].replace(wrong_value,correct_value) # realiza la coreccion gracias a .replace()
    return df #volver a el dataframe


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Excelente trabajo con los duplicados impl√≠citos!</div>

<details>
<summary>Haz clic para ver la pista</summary>

Crea una funci√≥n con cuatro par√°metros. Dentro del bucle, llama a `.replace()` sobre la columna para cada valor incorrecto, cambi√°ndolo por el correcto.

Etapa 2.13. Ahora, llama a la funci√≥n pasando:

* `df` como el DataFrame
* `'genre'` como nombre de columna
* `['hip', 'hop', 'hip-hop']` como lista de valores incorrectos
* `'hiphop'` como valor correcto

In [18]:
# Elimina los duplicados impl√≠citos
duplicates = ['hip', 'hop','hip-hop'] # una lista de nombres mal escritos
name = 'hiphop' # el nombre correcto
df = replace_wrong_values(df, 'genre', duplicates, name)
print(df)

        user_id                              track            artist  \
0      FFB692EC                  Kamigata To Boots  The Mass Missile
1      55204538        Delayed Because of Accident  Andreas R√∂nnberg
2        20EC38                  Funicul√¨ funicul√†       Mario Lanza
3      A3DD03C9              Dragons in the Sunset        Fire + Ice
4      E2DC1FAE                        Soul People        Space Echo
...         ...                                ...               ...
65074  729CBB09                            My Name            McLean
65075  D08D4A55  Maybe One Day (feat. Black Spade)       Blu & Exile
65076  C5E3A0D5                          Jalopiina           unknown
65077  321D0506                      Freight Train     Chas McDevitt
65078  3A64EF84          Tell Me Sweet Little Lies      Monica Lopez

            genre         city      time        day
0            rock  Shelbyville  20:28:33  Wednesday
1            rock  Springfield  14:07:09     Friday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
4           dance  Springfield  08:34:34     Monday
...           ...          ...       ...        ...
65074         rnb  Springfield  13:32:28  Wednesday
65075      hiphop  Shelbyville  10:00:00     Monday
65076  industrial  Springfield  20:09:26     Friday
65077        rock  Springfield  21:43:59     Friday
65078     country  Springfield  21:59:46     Friday

[61253 rows x 7 columns]

<details>
<summary>Haz clic para ver la pista</summary>

Llama a la funci√≥n que creaste y pasa los cuatro argumentos necesarios. Aseg√∫rate de usar el nombre correcto de la columna y lista los valores que deben unificarse.

Etapa 2.14. Aseg√∫rate de que los nombres duplicados se hayan eliminado. Muestra la lista de valores √∫nicos de la columna `'genre'` una vez m√°s:

In [19]:
# Comprueba de nuevo los duplicados impl√≠citos
df.duplicated().sum()

0

<details>
<summary>Haz clic para ver la pista</summary>

Usa de nuevo el m√©todo que muestra los valores √∫nicos de una columna para verificar que todos los nombres se hayan unificado correctamente.

## Etapa 3. An√°lisis

### Tarea: Comparar el comportamiento de los usuarios en las dos ciudades <a id='activity'></a>

Queremos analizar si hay diferencias en la cantidad de canciones reproducidas en Springfield y Shelbyville. Para ello, usaremos los datos de dos d√≠as de la semana: lunes y viernes.

Compararemos cu√°ntas canciones se escucharon en cada ciudad durante esos d√≠as para identificar posibles patrones de comportamiento.

Sigue estos tres pasos para organizar tu an√°lisis:

- Dividir: agrupa los datos por ciudad.

- Aplicar: cuenta cu√°ntas canciones se reproducen en cada grupo.

- Combinar: presenta los resultados de forma que se puedan comparar f√°cilmente ambas ciudades.

Repite este proceso por separado para cada uno de los dos d√≠as.

Etapa 3.1.
Cuenta cu√°ntas canciones se reprodujeron en cada ciudad utilizando la columna `'track'` como referencia.

In [20]:
# Cuenta las canciones reproducidas en cada ciudad

print(df.groupby('city')['track'].count())

city
Shelbyville    18512
Springfield    42741
Name: track, dtype: int64


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Gran trabajo utilizando `groupby()`!</div>

<details>
<summary>Haz clic para ver la pista</summary>

Agrupa los datos por ciudad con el m√©todo `groupby()` y usa el m√©todo `count()` para contar las canciones reproducidas en cada grupo.

Etapa 3.2. Redacta brevemente tus observaciones sobre los resultados.

¬øQu√© diferencias encontraste entre Springfield y Shelbyville? ¬øA qu√© podr√≠an deberse?

la mas grande diferencia es que se escucharon mas del doble de canciones en Springfield que en shelbyville. Podria deberse a que hay muchos mas usuarios en Springfield que en shelbyville.

Etapa 3.3.
Agrupa los datos por d√≠a de la semana y cuenta cu√°ntas canciones se reprodujeron los lunes y viernes.

In [21]:
# Calcula las canciones reproducidas en cada uno de los dos d√≠as
print(df.groupby('day')['track'].count()) # Numero de canciones reproducida pr dia
print() # espacio para estetica
print(df.groupby(['day','city'])['track'].count()) #numero de canciones por dia y por ciudad

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

day        city
Friday     Shelbyville     5895
           Springfield    15945
Monday     Shelbyville     5614
           Springfield    15740
Wednesday  Shelbyville     7003
           Springfield    11056
Name: track, dtype: int64

<details>
<summary>Haz clic para ver la pista</summary>

Cambia el criterio de agrupaci√≥n a la columna que representa el d√≠a de la semana y filtra solo para los d√≠as que te interesan.

Etapa 3.4. Describe brevemente qu√© observaste al comparar los lunes y viernes.

¬øHubo un d√≠a con m√°s actividad? ¬øCambia algo si analizas cada ciudad por separado?

El dia con mas actividad fue el viernes(Friday), le sigue el lunes(Monday) y luego el miercoles(Wednesday).
Los datos totales no cambian en nada, pues sigue siendo la suma de las dos ciudades. Pero si detallamos bien en las dos ciudades tienen diferentes dias de mayores canciones reproducidas, para springfiel es el viernes con mas de 15900, pero para shelbyville es el miercoles con mas de 7000

Etapa 3.5

Ahora vamos a combinar dos criterios: d√≠a y ciudad.

Crea una funci√≥n llamada `number_tracks()` que reciba dos par√°metros:

* `day`: un d√≠a de la semana (por ejemplo, `'Monday'`)
* `city`: el nombre de una ciudad (por ejemplo, `'Springfield'`)

Dentro de la funci√≥n:

1. Filtra el DataFrame por el d√≠a.
2. Luego, filtra por la ciudad.
3. Cuenta cu√°ntas veces aparece `'user_id'` en ese filtro.
4. Devuelve ese n√∫mero como resultado.

In [22]:
# Declara la funci√≥n number_tracks() con dos par√°metros: day= y city=.
def number_tracks(day,city):
    # Almacena las filas del DataFrame donde el valor en la columna 'day' es igual al par√°metro day=
        df_filtered= df[(df['day']== day) & (df['city']== city)]
    # Filtra las filas donde el valor en la columna 'city' es igual al par√°metro city=
        return df_filtered['user_id'].count()
    # Extrae la columna 'user_id' de la tabla filtrada y aplica el m√©todo count()
   
    # Devuelve el n√∫mero de valores de la columna 'user_id'





<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Te felicito por el excelente trabajo que has hecho con las funciones!</div>

<details>
<summary>Haz clic para ver la pista</summary>

Define una funci√≥n con dos par√°metros. Dentro, aplica un filtrado secuencial usando `df[...]`, y al final cuenta los valores con `.count()`.

Etapa 3.6. Llama a `number_tracks()` cuatro veces: una por ciudad en cada uno de los dos d√≠as.

In [23]:
# El n√∫mero de canciones reproducidas en Springfield el lunes
monday_filtered_1 = number_tracks('Monday', 'Springfield')
print(monday_filtered_1)

15740

In [24]:
# El n√∫mero de canciones reproducidas en Shelbyville el lunes
monday_filtered_2 = number_tracks('Monday', 'Shelbyville')
print(monday_filtered_2 )

5614

In [25]:
# El n√∫mero de canciones reproducidas en Springfield el viernes
friday_filtered_1 = number_tracks('Friday', 'Springfield')
print(friday_filtered_1)

15945

In [26]:
# El n√∫mero de canciones reproducidas en Shelbyville el viernes
friday_filtered_2 = number_tracks('Friday', 'Shelbyville')
print(friday_filtered_2)

5895

<details>
<summary>Haz clic para ver la pista</summary>

Llama a tu funci√≥n con combinaciones distintas de ciudad y d√≠a, como `'Monday', 'Springfield'`, y guarda o imprime los resultados para comparar.

# Conclusiones <a id='end'></a>

## Escribe tus conclusiones finales sobre el an√°lisis

Redacta un resumen breve y claro de los hallazgos obtenidos durante el proceso de an√°lisis. Tu conclusi√≥n debe:

* Mencionar los principales patrones que observaste en los datos.
* Identificar cualquier problema encontrado y c√≥mo lo solucionaste.
* Explicar c√≥mo estas acciones ayudaron a mejorar la calidad del an√°lisis.

Reflexiona tambi√©n sobre la pregunta central:

> *¬øLos datos muestran que el comportamiento de los usuarios ‚Äîen cuanto a la m√∫sica que escuchan‚Äî var√≠a seg√∫n la ciudad y el d√≠a de la semana?*

Apoya tu respuesta con ejemplos concretos de los resultados obtenidos.

Detalla aqu√≠ tus conclusiones.

El patron por ciudad es que el viernes es el dia que mas usuarios escuchan musica, donde springfield tiene 15945 usuarios y shelbyville tiene 5895. Hay casi tres veces mas usuarios en Springfield que en Shelbyville.

Los primeros problemas son los de los nombres de las columnas, lo que se corrige ahi son los espacios en blanco innecesarios, el reemplazar la escritura normal por el snake_case. En los dataframe suelen haber datos duplicados y datos ausentes, para obtener un analisis mas exacto se debene de rellenar o eliminar los datos ausentes y borrar los datos de las filas duplicadas

Al corregir los nombres de las columnas hace que disminuyan los errores y facilita el analisis. Eliminar o rellenar valores nos lleva a datos mucho mas veridicos, lo cual hace un analisis con conclusiones mas solidas.

Entre las ciudades si varia mucho la cantidad de usuarios que escuchan musica. principalmente se ve el viernes los usuarios escuchan mas musica, sin embargo esto es una conclusion global, ya que si separamos las dos ciudades, no coinciden lo dias de mayor cantidad de usuarios que escuchan musica, en shelbyville es un miercoles pero en Springfield es el viernes 
Friday     Shelbyville     5895
           Springfield    15945
Wednesday  Shelbyville     7003
           Springfield    11056


<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Realmente tus conclusiones demuestran tu expertise en el tema, te felicito por haberte esforzado tanto en este sprint. Excelente trabajo!</div>